{% extends 'base.html' %}

{% block content %}
<h1>Глоссарий: используемая в симуляторе терминология</h1>
<h2>твэл</h2>

твэл - тепловыделяющий элемент. Элементарная конструкция, таких в большом реакторе более 10 тысяч штук. Содержит в себе ядерное топливо, которое разогревается.
<img src="https://image1.slideserve.com/3184589/slide4-l.jpg" alt="твэл">

Обогащение - доля изотопа U-235 среди остальных изотопов урана.

Полость для продуктов деления - полость, в которой копятся газообразные продукты деления, образовавшиеся в ходе распада ядер урана.
<img src="https://image1.slideserve.com/3184589/slide6-l.jpg" alt="полость в таблетке">

<h2>ТВС</h2>
ТВС - тепловыделяющая сборка. Объединяет в себе около сотни твэлов. Таких сборок в большом реакторе более 100. Твэлы не ставят в реактор по отдельности, только в составе ТВС.
<img src="https://studfile.net/html/611/144/html_IsQFaPVDWB.KgZ9/img-QoDo_2.jpg" alt="твс">

Тип решётки ТВС - какую фигуры образуют соседние твс. В отечественных реакторах обычно треугольная решётка из шестигранных ТВС, а в американских - квадратная решётка.
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Сравнение_активных_зон_реакторов.svg/1200px-Сравнение_активных_зон_реакторов.svg.png" alt="решётка твс">

Замедлитель - вещество, используемое для замедления нейтронов в реакторах на тепловых нейтронах. Лучший замедлитель - тяжёлая вода, но он же является самым дорогим. Самый распространённый - обычная вода. В советских реакторах РБМК использовался графит.

Теплоноситель - вещество, которое циркулирует по трубопроводам через активную зону, оно переносит тепло от твэлов и ТВС подобно воде в трубах отопления.

Активная зона - область внутри реактора, в которой находится ядерное топливо.

Дистанционирующие решётки - устройства, необходимые для поддержания расстояния между твэлами. Без решёток твэлы смогут болтаться под воздействием теплоносителя, сталкиваться и тереться, из-за чего в местах касания постепенно будет развиваться разрушение.

Выгорающий поглотитель - вещество, поглощающее нейтроны. Часто это атомы бора или гадолиния. Нужно, чтобы скомпенсировать слишком большое количество топлива на старте топливной кампании.

Топливная кампания - срок экслпуатации одной ТВС, обычно это несколько лет в больших энергетических реакторах.

<h3>Реактор</h3>
Компоновка - способ связи оборудования, входящего в состав реакторной установки.

Петлевая - Для неё характерна значительная пространственная распределённость и большой объём первого контура, наличие трубопроводов большого диаметра, соединяющих основное оборудование: парогенераторы, насосы, теплообменники, компенсаторы объёма и др.. Достоинство — доступность оборудования для профилактического контроля и ремонтных работ.
<img src="https://cf.ppt-online.org/files/slide/m/MaJQoGUTwfqYzW2hPVbdnFNHrt5e0cLR9xAyg8/slide-3.jpg" alt="петлевая компоновка">

Блочная - оборудование I контура соединено без трубопроводов (через силовые патрубки). Отличается компактностью, часто используется в судовых установках.
<img src="https://www.atomic-energy.ru/files/images/2012/07/vber-300.jpg" alt="блочная компоновка">

Интегральная - оборудование I контура располагается внутри корпуса реактора. На такую компоновку требуется большое количество конструкционных материалов (стали).
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/LMFBR_schematics2-rus.svg/800px-LMFBR_schematics2-rus.svg.png" alt="интегральная компоновка">

Канальная компоновка - каждая ТВС располагается в своём отдельном канале (трубопроводе). В таких реакторах зачастую можно заменить ТВС по отдельности прямо во время эксплуатации.
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/RBMK_en.svg/1599px-RBMK_en.svg.png" alt="канальная компоновка">

Петля - одна ветка трубопроводов I контура, выходящая из реактора и входящая тоже в реактор. По пути трубопровода обычно располагаются парогенератор и главный циркуляционный насос.

Антидебризный фильтр - устройство, расположенное на входе теплоносителя в ТВС. Оно останавливает посторонние предметы, которые мог захватить с собой теплоноситель, если они оказались внутри трубопровода I контура.



{% endblock %}
