{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="block" style="background-image: url('/static/Реактор.jpg');">
            <h2>Современный путь</h2>
            <ul>
                <li><a href="#">Обучение</a></li>
                <li><a href="/simulator">Пройти</a></li>
            </ul>
        </div>

<!--        <div class="block" style="background-image: url('/static/ТВС.jpg');">-->
<!--            <h2>Cоветский путь</h2>-->
<!--            <ul>-->
<!--                <li><a href="#">Пройти</a></li>-->
<!--            </ul>-->
<!--        </div>-->

<!--        <div class="block" style="background-image: url('/static/Парогенератор.jpg');">-->
<!--            <h2>Канадский путь</h2>-->
<!--            <ul>-->
<!--                <li><a href="#">Пройти</a></li>-->
<!--            </ul>-->
<!--        </div>-->

<!--        <div class="block" style="background-image: url('/static/Радиоактивность.jpg');">-->
<!--            <h2>Восточный путь</h2>-->
<!--            <ul>-->
<!--                <li><a href="#">Пройти</a></li>-->

<!--            </ul>-->
<!--        </div>-->

<!--        <div class="block" style="background-image: url('/static/Пульт АЭС.jpeg');">-->
<!--            <h2>Восточный путь</h2>-->
<!--            <ul>-->
<!--                <li><a href="#">Пройти</a></li>-->
<!--            </ul>-->
<!--        </div>-->

<!--        <div class="block" style="background-image: url('/static/Ледокол Ленин.jfif');">-->
<!--            <h2>Морской путь</h2>-->
<!--            <ul>-->
<!--                <li><a href="#">Пройти</a></li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
{% endblock %}
