<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Тестирование анимации</title>
  <style>
    #three-container {
      width: 600px;
      height: 400px;
      margin: 0 auto;
      border: 1px solid #ccc;
    }
  </style>
</head>
<body>

  <!-- Контейнер для Three.js -->
  <div id="three-container"></div>

  <!-- Подключаем библиотеку Three.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

  <script>
    // Основная сцена Three.js
    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera(75, 600 / 400, 0.1, 1000);
    const renderer = new THREE.WebGLRenderer();
    renderer.setSize(600, 400);
    document.getElementById('three-container').appendChild(renderer.domElement);

    function pause(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    // Загружаем GIF анимацию как текстуру
    function testAnimation(path) {
      const textureLoader = new THREE.TextureLoader();
      const gifTexture = textureLoader.load(path);  // Укажите путь к вашему GIF 'static/vver/test_gif.gif'

      // Создаем материал для плоскости с GIF
      const material = new THREE.MeshBasicMaterial({ map: gifTexture });

      // Создаем геометрию плоскости
      const geometry = new THREE.PlaneGeometry(4, 3);

      // Создаем объект Mesh
      const plane = new THREE.Mesh(geometry, material);
      scene.add(plane);

      // Камера
      camera.position.z = 5;

      setTimeout(function() {
        console.log("После паузы");
      }, 100)

      // Функция анимации
      function animate() {
        requestAnimationFrame(animate);
        renderer.render(scene, camera);
        setTimeout(function() {
          console.log("После паузы");
        }, 100)
      }

      // Запускаем анимацию
      animate();
    }
    

    // Массив с аргументами, которые будем передавать функции
    const frames = [];

    // Генерация строк с номерами от 203 до 289
    for (let i = 203; i <= 289; i++) {
      const fileName = `static/turbine frames/Анимация турбины_${i}.jpg`;
      frames.push(fileName);
    }
    let index = 0;  // Индекс для отслеживания текущего аргумента

    // Функция, которая будет вызываться с некоторой частотой
    // setInterval(function() {
    for (index = 203; index < 288; index++) {
      testAnimation(`static/turbine frames/Анимация турбины_${index}.jpg`);
      // index = (index + 1) % frames.length;
      // index++;
      console.log(index);
      if (index == 288) {
        index = 0;
      }

      console.log('конец функции')
      // }, 200);
    }
    
  </script>

</body>
</html>